<!DOCTYPE html>
<html>
<head>
	<!-- Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A personal website for my fans :-P">
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	
	<title>HOME | JonathanWise.com</title>
</head>
<body>
	<header>
		<div class="topnav" id="myTopnav">
			<a href="../index.html">Home</a>
			<a href="../ai/ai.html">AI</a>
			<a href="../drone/drone.html">Drones</a>
			<a href="../eng/eng.html">Engineering</a>
			<a href="../piano/piano.html">Engineering</a>
			<a href="../ham/ham.html">Amature Radio</a>
			<a href="../contact/contact.html">Contact</a>
			<a href="about.html">About</a>
			<!-- 	Until I know what this does, its out.
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<i class="fa fa-bars"></i>
			</a>
			-->
		</div>
	</header>
	<div class="sub-main">
		<h1 align="center">About Me</h1>
		<p>Jan 4th 2020</p>
		<p align="justify">I don't like to be public with my political or 
						religeous beliefs. I feel like unless I have very important
						reason to divulge that information, I'll keep it to myself.
						I can say I have a live and let live mentality. I try to
						love all people. I care very deeply for my family. I hope to
						get to know you. Thanks for listening. Oh, and I like fitness.
						I also like making money &#58 &#45 &#41<bk>Have a Great day.</p>
	</div>
	<aside>
		
	</aside>
	<footer>
		<div class="left-footer">
			<p align="center"> JONATHAN</p>
		</div>
		<div class="center-footer">
			<p align="center">DAVID</p>
		</div>
		<div class="right-footer">
			<p align="center">WISE</p>
		</div>
		<div class="copyright">
			<p align="center">Copyright &copy; 2019 JonathanWise.com</p>
		</div>
	</footer>