
{% extends 'base.html' %}

{% block main %}
<h1 align="center">About Me</h1>
<p>Jan 4th 2020</p>
<p align="justify">I don't like to be public with my political or
    religeous beliefs. I feel like unless I have very important
    reason to divulge that information, I'll keep it to myself.
    I can say I have a live and let live mentality. I try to
    love all people. I care very deeply for my family. I hope to
    get to know you. Thanks for listening. Oh, and I like fitness.
    I also like making money &#58 &#45 &#41<bk>Have a Great day.
</p>
{% endblock %}