<!DOCTYPE html>
<html>
<head>
	<!-- Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A personal website for my fans :-P">
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	
	<title>HOME | JonathanWise.com</title>
</head>
<body>
	<header>
		<div class="topnav" id="myTopnav">
			<a href="/">Home</a>
			<a href="/ai">AI</a>
			<a href="/drone">Drones</a>
			<a href="/eng">Engineering</a>
			<a href="/piano">Piano</a>
			<a href="/ham">Amature Radio</a>
			<a href="/contact">Contact</a>
			<a href="/about">About</a>
			<!-- 	Until I know what this does, its out.
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		<i class="fa fa-bars"></i>
	</a>
	-->
		</div>
	</header>
	
	<div class="sub-main">
		<h1 align="center">AI Progress</h1>
		
		<p>March 3rd 2020</p>
		<p align="justify">I have not bothered with any AI development, and I think this will never again be discussed..</p>
		<p>Jan 5th 2020</p>
		<p align="justify">I am currently installing Tensor Flow with Keras, PyCharm, and Anaconda! 
			I am really excited! Just a little forsight, prediction. People in the future will have 
			AI models of them selfs. These models will predict how strongly or weakly they will be
			in all parts of their life. Grades, Physically, everything. So people will start working
			towards their weaknesses. This will create a future AI model that will eventually will
			predict who will be the ones to shore up their weaknesses and will predict EVERYTHING omg.
			I'm rambling. Basically, I find no end to the power of AI, if this stuff even works....
			I'm hopefully gonna find out! I'm running through my first tutorial with TechWithTim. I've
			completed parts 1-3 of his tutorials....and I've gotta say, I'm a little confused. I know that
			if I look at it longer, I can understand some more, but it will take a while. I'm considering 
			moving on for now.</p>
		<p>Jan 4th 2020</p>
		<p align="justify">First off, my AI progress is minimal. I've concluded 
			that I will install Tensor Flow on my CPU and not on my GPU because
			I am a gamer. In the future, I will build a machine that will have
			the sole purpouse of computing AI routines. Dreams do come true.</p>
	</div>
	<aside>
		
	</aside>
	<footer>
		<div class="left-footer">
			<p align="center"> JONATHAN</p>
		</div>
		<div class="center-footer">
			<p align="center">DAVID</p>
		</div>
		<div class="right-footer">
			<p align="center">WISE</p>
		</div>
		<div class="copyright">
			<p align="center">Copyright &copy; 2019 JonathanWise.com</p>
		</div>
	</footer>
