<!DOCTYPE html>
<html>
<head>
	<!-- Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A personal website for my fans :-P">
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	
	<title>HOME | JonathanWise.com</title>
</head>
<body>
	<header>
		<div class="topnav" id="myTopnav">
			<a href="index.html">Home</a>
			<a href="ai/ai.html">AI</a>
			<a href="drone/drone.html">Drones</a>
			<a href="eng/eng.html">Engineering</a>
			<a href="piano/piano.html">Engineering</a>
			<a href="ham/ham.html">Amature Radio</a>
			<a href="contact/contact.html">Contact</a>
			<a href="about/about.html">About</a>
			<!-- 	Until I know what this does, its out.
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<i class="fa fa-bars"></i>
			</a>
			-->
			</a>
		</div>
	</header>
	<div class="aside-left">
	<!--
		<h2 align="left"><u>Most Recent Stuff</u></h3>
		<p><a href="ai/ai.html">AI page updated<a/></p>
	-->
	</div>
	
	<main>
		<h1 align="center">Summarizing 2019</h1>
		<p>Hi Titan. 2019 was a great year. I had a power systems engineering job. 2020 is starting out very slowly for me. I hope it turns around. I will be getting my EIT this year, though. Hopefully that will turn things around for me. </p>
	</main>
	<aside>
		
	</aside>
	<footer>
		<div class="left-footer">
			<p align="center"> JONATHAN</p>
		</div>
		<div class="center-footer">
			<p align="center">DAVID</p>
		</div>
		<div class="right-footer">
			<p align="center">WISE</p>
		</div>
		<div class="copyright">
			<p align="center">Copyright &copy; 2019 JonathanWise.com</p>
		</div>
	</footer>
