<!DOCTYPE html>
<html>
<head>
	<!-- Metas -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Profile &mdash; Jonathan Wise</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="My website!" />
	<meta name="keywords" content="html5, css3" />
	<meta name="author" content="Jonathan Wise - with help from - freehtml5.co" />

	<!------------------SHOUT OUT TO MY BOYS--------------
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/newstyle.css">

	<title>HOME | JonathanWise.com</title>
</head>
<body>
	<header>
		<div class="topnav" id="myTopnav">
			<a href="/">Home</a>
			<a href="/ai">AI</a>
			<a href="/drone">Drones</a>
			<a href="/eng">Engineering</a>
			<a href="/piano">Piano</a>
			<a href="/ham">Amature Radio</a>
			<a href="/contact">Contact</a>
			<a href="/about">About</a>
			<!-- 	Until I know what this does, its out.
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		<i class="fa fa-bars"></i>
	</a>
	-->
		</div>
	</header>
	<div class="aside-left">
	<!--
		<h2 align="left"><u>Most Recent Stuff</u></h3>
		<p><a href="ai/ai.html">AI page updated<a/></p>
	-->
	</div>
	
	<main>
		{% block main %}{% endblock %}
	</main>
	<aside>
		
	</aside>
	<footer>
		<div class="left-footer">
			<p align="center"> JONATHAN</p>
		</div>
		<div class="center-footer">
			<p align="center">DAVID</p>
		</div>
		<div class="right-footer">
			<p align="center">WISE</p>
		</div>
		<div class="copyright">
			<p align="center">Copyright &copy; 2019 JonathanWise.com</p>
		</div>
	</footer>
	</body>
</html>