{% extends 'base.html' %}

{% block main %}
	<h1 align="center">Engineering Stuff</h1>
		<p>March 3rd 2020</p>
		<p align="justify">I have not developed my python video game. I have been studying for my EIT.</p>
		<p>Jan 11th 2020</p>
		<p align="justify">My interests have changed. Now, I am interested in building a 
						video game in python. I want to make a 2D scoller like one I saw a
						friend from college build.</p>
		<p>Jan 4th 2020</p>
		<p align="justify">I have a job that involves power systems. My hobbies
						however do not necessarily line up with my work. I would
						like to find a commonality. As it stands, I am 20% interested
						in building an 8 bit computer, 30% interested in building this
						website, and 50% interested in developing and learning about AI.
						This post might better belong in my home page. Here I will be 
						updating with anything engineering and eventually, I plan to 
						split this page into all subsets of engineering.</p>
{% endblock %}
