<!DOCTYPE html>
<html>
<head>
	<!-- Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A personal website for my fans :-P">
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	
	<title>HOME | JonathanWise.com</title>
</head>
<body>
	<header>
		<div class="topnav" id="myTopnav">
			<a href="/">Home</a>
			<a href="/ai">AI</a>
			<a href="/drone">Drones</a>
			<a href="/eng">Engineering</a>
			<a href="/piano">Piano</a>
			<a href="/ham">Amature Radio</a>
			<a href="/contact">Contact</a>
			<a href="/about">About</a>
			<!-- 	Until I know what this does, its out.
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		<i class="fa fa-bars"></i>
	</a>
	-->
		</div>
	</header>
	<div class="sub-main">
		<h1 align="center">Engineering Stuff</h1>
		<p>March 3rd 2020</p>
		<p align="justify">I have not developed my python video game. I have been studying for my EIT.</p>
		<p>Jan 11th 2020</p>
		<p align="justify">My interests have changed. Now, I am interested in building a 
						video game in python. I want to make a 2D scoller like one I saw a
						friend from college build.</p>
		<p>Jan 4th 2020</p>
		<p align="justify">I have a job that involves power systems. My hobbies
						however do not necessarily line up with my work. I would
						like to find a commonality. As it stands, I am 20% interested
						in building an 8 bit computer, 30% interested in building this
						website, and 50% interested in developing and learning about AI.
						This post might better belong in my home page. Here I will be 
						updating with anything engineering and eventually, I plan to 
						split this page into all subsets of engineering.</p>
	</div>
	<aside>
		
	</aside>
	<footer>
		<div class="left-footer">
			<p align="center"> JONATHAN</p>
		</div>
		<div class="center-footer">
			<p align="center">DAVID</p>
		</div>
		<div class="right-footer">
			<p align="center">WISE</p>
		</div>
		<div class="copyright">
			<p align="center">Copyright &copy; 2019 JonathanWise.com</p>
		</div>
	</footer>