<!DOCTYPE html>
<html>
<head>
	<!-- Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A personal website for my fans :-P">
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	
	<title>HOME | JonathanWise.com</title>
</head>
<body>
	<header>
		<div class="topnav" id="myTopnav">
			<a href="/">Home</a>
			<a href="/ai">AI</a>
			<a href="/drone">Drones</a>
			<a href="/eng">Engineering</a>
			<a href="/piano">Piano</a>
			<a href="/ham">Amature Radio</a>
			<a href="/contact">Contact</a>
			<a href="/about">About</a>
			<!-- 	Until I know what this does, its out.
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		<i class="fa fa-bars"></i>
	</a>
	-->
		</div>
	</header>
	<div class="sub-main">
		<h1 align="center">HAM Radio</h1>
		<p>March 3rd 2020</p>
		<p align="justify">I have not developed my HAM radio skills. I hope I do in Lubbock, if I move there.</p>
		<p>Jan 5th 2020</p>
		<p align="justify">I am a HAM. I have a technician class certification. 
						That's all though. I havenet even learned how to use 
						my &lt 100 &#36 handheld radio. My plans include: building 
						my own antenna, joining the ARRL, learing about emergency plans, 
						catching radio signals from sattelites.</p>
	</div>
	<aside>
		
	</aside>
	<footer>
		<div class="left-footer">
			<p align="center"> JONATHAN</p>
		</div>
		<div class="center-footer">
			<p align="center">DAVID</p>
		</div>
		<div class="right-footer">
			<p align="center">WISE</p>
		</div>
		<div class="copyright">
			<p align="center">Copyright &copy; 2019 JonathanWise.com</p>
		</div>
	</footer>