{% extends 'base.html' %}

{% block main %}
	<h1 align="center">HAM Radio</h1>
		<p>March 3rd 2020</p>
		<p align="justify">I have not developed my HAM radio skills. I hope I do in Lubbock, if I move there.</p>
		<p>Jan 5th 2020</p>
		<p align="justify">I am a HAM. I have a technician class certification. 
						That's all though. I havenet even learned how to use 
						my &lt 100 &#36 handheld radio. My plans include: building 
						my own antenna, joining the ARRL, learing about emergency plans, 
						catching radio signals from sattelites.</p>
{% endblock %}
