{% extends 'base.html' %}

{% block main %}
<h1 align="center">Drone Progress</h1>
		<p>March 3rd 2020</p>
		<p align="justify">I still want to start that drone surverying business, but I think it will not happen this year. Maybe it will happen in Lubbock...if I move there. Delayed dreams.....</p>
		<p>Jan 4th 2020</p>
		<p align="justify">I want to start a drone surveying business. Roof 
						Inspections, Farm Inspections, Real Estate Sales, and
						anything else I can do with a Mavic Air. Maybe a good
						place to start would be editing my fun videos I took
						at the lake's. Hopefully That will come out this February.
						It would be a good promo reel for my baby business.</p>
{% endblock %}
